@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
*{
    box-sizing: border-box;
  
}

@font-face {
    font-family: 'mad_hackeritalic';
    src: 
    
    url(/fonts/Mad\ Hacker.ttf);
    
    
    font-style: normal;

}
body{
    margin: 0px;
    padding: 0px;
    background-color: #111216;
}
.cabecalho{
   
   
    display: flex;
    background-color:#333131 ;
    color:#B5D12A;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100px;
    align-items: center;
    
}
.menu, .titulomodal{
    font-family: 'mad_hackeritalic';
    font-size: 30pt;
}


.marcasrunter{
    display: flex;
    width: 50%;
    height: 200px;
    margin: 20px;
    background-color: rgba(212, 208, 201, 0.719);
    border-radius: 20px; 
    
    
}
.marca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.link{
    display: flex;
    background-color: #000000;
    color: #0cbd0c;
    font-family: monospace;
    padding: 3%;
    width: 185px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
}
.link:hover{
    background-color:#3d3d3d ;

    transition: 1s;
}

img{
    
    width: 100%;
  
    

}
footer{
    position: relative;

    background-color: #333131;
    width: 100%;
    height: 250px;
    padding: 15px;
    
    
}
.logobaixo {
    position: absolute;
    width: 30%;
    top:0;  
   
 
}
.areaauto{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    justify-content: center;
    position: relative;
    float: right;
    right: 200px;
    
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
}

.copy{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin: 0px;
    padding: 0px;



}
.auto{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 10px;
    

}

.sobre{
    
    padding: 0px;
    color: white;
    width: 250px;
}
.modal{
    position: absolute;
    display: none;
    flex-direction: column;
    left: 55%;
    top:20%;
    background-color: black;
    width: 40%;
    height: 100%;
    border: solid #0f0;
    color:white;
    box-shadow: 0px 0px 10px #0f0;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s;
    color: #0f0;
    border-radius:20px;

}
.modal:hover{
    transition: 1s;
    box-shadow: 0px 0px 50px #0f0;
}
#titulo{
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #0f0 ;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items:center ;
    
}
.sobreEmuladores{
    
    margin-left: 10px;
}
.listamodelo{
    position: relative;
    display: none;
    flex-direction: column;
    margin: 10px;
    flex-wrap: wrap;
    height: 580px;
}

.fechar{
    position: absolute;

    left: 90%;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 20pt;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #0f0;    
    cursor: pointer;
}
.modelo{
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: rgb(44, 136, 44);
    width: 30%;
    border-radius: 80px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
@media (max-width: 1024px) {
    .marcasrunter{
        min-width: 50%;
        height: 150px;
    }   
    .marca{
      
        width: 400px;
        
      
    }
    .link{
        display: flex;
        flex-wrap: nowrap;
        
    }

    .modal{
        
        left: 5%;
        width: 90%;
        
    }

    .logobaixo{
        display: none;
    }
    .areaauto{
        transition: 1s;
        align-items:center ;
        float: none;
        right: 0px;
    }
}